@import "./Component/Animation/animation.css";
@import "tailwindcss";

.text-green-800:hover{
  color: rgb(33, 238, 30);
  /* cursor: pointer; */
}

.underline {
  position: relative;
  text-decoration: none;
}

.underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background: rgb(46, 229, 83);
  transition: width 0.5s ease;
}

.underline:hover::after {
  width: 100%;
}

@layer utilities {
    .animate-fade-in {
      animation: fadeIn 1s ease-in-out both;
    }
  
    .animate-fade-in-up {
      animation: fadeInUp 1s ease-in-out both;
    }
  
    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  
    @keyframes fadeInUp {
      0% {
        opacity: 0;
        transform: translateY(20px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }




  /* Hide the Google Translate top banner */
body .goog-te-banner-frame.skiptranslate {
    display: none !important;
  }
  
  /* Remove spacing created for the banner */
  body {
    top: 0px !important;
  }
  
  /* Optional: hide Google Translate's inline frame */
  body .goog-te-gadget-icon {
    display: none !important;
  }
  