@import "tailwindcss";


@layer utilities {
    .animate-fade-in {
      animation: fadeIn 1s ease-in-out both;
    }
  
    .animate-fade-in-up {
      animation: fadeInUp 1s ease-in-out both;
    }
  
    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  
    @keyframes fadeInUp {
      0% {
        opacity: 0;
        transform: translateY(20px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }




  /* Hide the Google Translate top banner */
body .goog-te-banner-frame.skiptranslate {
    display: none !important;
  }
  
  /* Remove spacing created for the banner */
  body {
    top: 0px !important;
  }
  
  /* Optional: hide Google Translate's inline frame */
  body .goog-te-gadget-icon {
    display: none !important;
  }
  